configuration {
    modi: "drun,ssh,run,window,combi";
    show-icons: true;
    drun-match-fields: "name";
    combi-modi: "drun,ssh,run,window";
    terminal: "alacritty";
    font: "Inconsolata 14";
    ssh-command: "alacritty -e ssh {host}";
    kb-remove-to-eol: "";
    kb-accept-entry: "";
    kb-accept-entry: "Return,KP_Enter";
    kb-row-down: "Control+j";
    kb-row-up: "Control+k";
    monitor: -1;
    run-shell-command: "{terminal} -e {cmd}";
}
@theme "gruvbox-dark-soft"
